@import "tailwindcss";

@theme {
  --color-olive-50: #f7f9f5;
  --color-olive-100: #eef2e9;
  --color-olive-500: #859a72;
  --color-olive-600: #6d815a;
  --color-olive-700: #5a6d4a;
  --color-olive-800: #4a5b3d;
  --color-olive-950: #232e1b;
}
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
